@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Nous University</h1>
</div>
<div class="row">
    <div class="col-md-9">
        <h3></h3>
        <h3>Welcome to Nous University</h3>
        <p>
            You are welcome to Nous University Portal.
        </p>
    </div>
    
</div>